a         { font-size:larger; font-style:bold; }
a:link    { }
a:visited { }
a:hover   { text-decoration:none;  color: #333333; background: palegreen;}
a:active  { font-size:x-large; background:green;}

