figure#f1 { display:block; float:left; border:2px solid tomato; padding:1em; margin:1em; width:200px;}
figure#f1 figcaption { display:block; font-style:italic; font-size:smaller}
figure#f1 img { width:100%; height:100%; }
