nav#n1 {
	display: block;
	padding: 0.2em 1em 0 1em;
	background: #e3e3df;
	border-bottom: 2px solid #999999;
}
nav#n1 a {
	padding: 0.3em 1em 0 1em;
	color: #555555;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration:none; 
}
nav#n1 a:link    { }
nav#n1 a:visited { }
nav#n1 a:hover   { color: #111111; background: #999999; }
nav#n1 a:active  { }